.example-card {
    max-width: 325px; 
  }

  .content{
    height:calc((100vh - 98px));
    margin:16px;
    margin-left:32px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
   }

   .background
    {
    background:rgb(240, 235, 235);
    }
 
    mat-grid-tile-header {
    background-color: #f5f5f5;
    padding: 1px;
    font:bold
    }

    mat-card{ 
         background-color:rgb(240, 235, 235);
    }

    mat-card:hover{
        background-color:rgb(252, 164, 2);
    }

  .grid-list{
    width: 100%;
    height:auto;
    display: grid;
    
    } 
    
  .header
    {
    font-size:xx-large;
    color:black;
    font-style: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    }
    
  .description
     {
    font-size:small;
    color:black;
     }

.img{
  border-width: 1pt;
  border-color: black;
}

.outline{
  border-style: solid;
  border-width: medium;
} 
 mat-paginator{
  background:darkgoldenrod
 }
 .position
 {
  text-align: center;
 }
.buttonFont
{
  color:black
}
 .buttonFont:hover{
  background-color: aqua;
 }