.background
  {
    background-color:rgb(240, 235, 235);;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
    color:black;
    display: block;
    height: auto;
    width:auto;
    padding: 20px;
  }
  img
  {
    background-color:floralwhite;
  }
  button
  {
    background:none;
    border:none;
    cursor:pointer;

  }
  button:hover
  {
    color: red;
  }
  .spacer
  {
    display: block;
    flex: 1 1 auto;
  }
  .close
  {  
    padding: 15px;
    position: relative;
   
  }