<mat-card class="content" *ngIf="isLoggedIn">
    <mat-card-content>
        <form (ngSubmit)="onUpdatePassword()" *ngIf="profile">
            <mat-label>Profile</mat-label>
            <mat-form-field appearance="fill">  
                <mat-label>Mat Label Example</mat-label>             
               <input matInput name="username" [disabled]="true" [value]="profile.username" placeholder="Username">
            </mat-form-field>
            <mat-form-field> 
                    <td> <label for="email">Email</label></td>
                    <td><input type="text" name="email" [disabled]="true" value={{profile.email}}></td>
            </mat-form-field>
            <mat-form-field>
                    <td><label for="password">Password</label></td>
                    <td><input type="text" name="password" [disabled]="true" value={{profile.password}}></td>
            </mat-form-field>
            <mat-form-field>
                    <td><label for="roles">Roles</label></td>
                    <td>
                        <ul>
                        <li *ngFor="let role of profile.roles">{{role}}</li>
                        </ul>
                    </td>
            </mat-form-field>
                <button type="submit" mat-stroked-button>Change Password</button><br>            
        </form>
    </mat-card-content>
</mat-card>